<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>

    <div class="navbar">
        <span>welcome</span> 
        <!-- user -->
        <div class="btncontainer">
        <a href="/register">Register</a>
        </div>
    </div>

    <form action="/login" class="login_form" method="POST">
        <span class="input">
            Email: <input type="text"  name="usename"  required>
        </span>
        <span class="input">
            Password: <input type="password"  name="password"  required>
        </span>
        <input class="loginbtn" type="submit" value="login">
    </form>

</body>
</html>